<!DOCTYPE HTML>
<!-- Relies on edit.css -->
<html>
<!-- TMPL_INCLUDE "head.tmpl" -->
  <body>
    <div id="pagegrid">
    <h1 class="title"> <!-- TMPL_VAR title --></h1>
    <!-- TMPL_INCLUDE "navbar_top.html" -->

    <!-- Edit attributes -->
    <form class="formgrid" action="/editresource/<!-- TMPL_VAR resourcetype -->/<!-- TMPL_VAR uid -->" method="post">
      <h2 id="title-attributes">Edit attributes</h2>
      <table class="attributes">
      <!-- TMPL_LOOP attributes -->
      <tr>
      <td><!-- TMPL_VAR attrname --></td>
      <td>
        <!-- TMPL_IF textarea -->
        <textarea class="attrvals" name="<!-- TMPL_VAR attrname -->"><!-- TMPL_VAR attrval --></textarea>
        <!-- TMPL_ELSE -->
          <!-- TMPL_IF attrvals -->
          <select class="attrvals" name="<!-- TMPL_VAR attrname -->">
            <!-- TMPL_LOOP attrvals -->
              <!-- TMPL_IF selected -->
              <option name="<!-- TMPL_VAR val -->" selected="true"><!-- TMPL_VAR val --></option>
              <!-- TMPL_ELSE -->
              <option name="<!-- TMPL_VAR val -->"><!-- TMPL_VAR val --></option>
              <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
          </select>
          <!-- TMPL_ELSE -->
          <input class="attrvals" name="<!-- TMPL_VAR attrname -->" value="<!-- TMPL_VAR attrval -->">
          <!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
      </td>
      </tr>
      <!-- /TMPL_LOOP -->
      </table>
      <div id=submit-row>
        <input id="wikipage-submit" type="submit" value="Update"></input>
      </div>
    </form>
    <!-- End edit attributes -->
    </div>
  </body>
</html>

