/* Attributes */
h2.title-attributes {
  grid-row: 1;
  grid-column: 1 / span 2;
}

table.attributes {
  grid-row: 2;
  grid-column: 1 / span 2;
}

.attrnames {
  font-weight: bold;
}

.attrvals {
  width: 100%;
}

textarea.attrvals {
  width: 640px;
  height: 80px;
}
/* End of attributes section */


/* Wikipage-specific styling */
.wikititle-title {
  grid-row: 1;
  grid-column: 1;
  font-weight: bold;
  margin-bottom: 6pt;
}

.wikititle-value {
  grid-row: 1;
  grid-column: 2;
  margin-bottom: 6pt;
}

#wikipage-content {
  grid-row: 2;
  grid-column: 1 / span 2;
}

#submit-row {
  grid-row: 3;
  grid-column: 1 / span 2;
  width: 100%
}

#wikipage-submit {
  margin: auto;
  align: center;
  width: 100%
}

/* End of wikipage-specific styling */


#createbutton {
  grid-row: 3;
  grid-column: 1 / span 2;
}
