/* Description text */
.task_description {
  grid-row 1;
  grid-column: 1 / span 2;
  margin-bottom: 12pt;
}


/* Table of attributes */
.taskattr_names {
  grid-column: 1;
  font-weight: bold;
  vertical-align: top;
}

.taskattr_values {
  grid-column: 2;
  vertical-align: top;
}


div#importance-name {
  grid-row: 2;
}

div#importance-value {
  grid-row: 2;
}


div#urgency-name {
  grid-row: 3;
}

div#urgency-value {
  grid-row: 3;
}


div#scale-name {
  grid-row: 4;
}

div#scale-value {
  grid-row: 4;
}


div#status-name {
  grid-row: 5;
}

div#status-value {
  grid-row: 5;
}
/* End of table of attributes */


/*
#header-refinesearch {
  grid-row: 1;
  grid-column: 3 / span 2;
}

#header-status {
  grid-row 1;
  grid-column: 1;
}

#status {
  grid-row: 2;
  grid-column: 1;
}

.attrnames {
  grid-row: 2;
  grid-column: 3;
}

.attrvals {
  grid-row: 2;
  grid-column: 4;
}

#searchbutton {
  grid-row: 3;
  grid-column: 1 / span 4;
}

#searchresults {
  grid-row: 2;
}
*/
